.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;}
.article{
    width: 428px;
    height: 200px;
    background-color: white;
}